<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>
<body>
<div id="container" class="container main_div">
    <div>
        <div class="col-sm-6 offset-sm-3 text-center forum-background">
            <br>
            <h1>Login User</h1>
            <div th:if="${param.error}">
                Combination username and password is incorrect.
            </div>
            <form class="form-inline justify-content-center" action="#" th:action="@{/login}" method="post">
                <div>
                    <br/>
                    <input type="text"  class="form-control" placeholder="Username" name="username" required="required">
                    <br/><br/>
                    <input type="password" class="form-control" placeholder="Password" name="password" required="required">
                    <br/><br/>
                    <div class="align-content-center">
                        <label class="remember-text">Remember me:</label>
                        <input type="checkbox" name="remember-me"/><br>
                    </div><br>
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </form><br>
        </div>
    </div>
</div>
<div th:replace="fragments/footer::'footer-login'">

</div>

</body>
</html>